/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)
 {body{
     color: aqua;
 }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body{
        color: black;
        
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background-color: silver;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}